@{
    ViewData["Title"] = "Home Page";
    Layout = "LayoutHomescreen";
}

<div id="homescreen" class="container-fluid">
    <div class="h-100 row">
    <div class="col-sm-2 col-xl-4"></div>
    <div class="col-12 col-sm-8 col-xl-4 d-flex">
        <div class="flex-column align-self-center w-100">
            <div class="card">
                <div class="card-header">
                    The ultimate Memory game
                </div>
                <div class="card-body">
                        <div class="row my-2">
                            <div class="col-12">
                                <a class="w-100 btn btn-primary" href="/game/new/pokemon">Start Pokemon memory game</a>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-12">
                                <a class="w-100 btn btn-danger" href="/game/new/pokemonExtreme">Start Pokemon memory <b>Extreme</b> game</a>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-12">
                                <a class="w-100 btn btn-primary" href="/game/new/standard">Start Standard memory game</a>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-12">
                                <a class="w-100 btn btn-primary" href="/view-available-games">Load game</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
